amplify-authenticator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
  }


  video {  

    width: 31%;
    margin-left: 30%;


   }

   .img-capture { 
    width: 31%;
    margin-left: 30%;
    margin-top: 50px;
  }